.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* background-color: #272424; */
  /* width: 100%; */
  height: 100vh;
  margin: 0 1.5rem;
}

/* .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: chocolate; */

/* height: 70%; */
/* } */

@media only screen and (max-width: 1000px) {
  .nav {
    margin: 0 0.5rem;
    flex-direction: row;
    height: 25vh;
    flex-wrap: wrap;
    /* background-color: rgb(80, 74, 72); */
  }

  .NavItems {
    display: flex;
    /* margin-top: 3rem; */
    height: 20vh;

    /* background-color: rgb(253, 77, 224); */
    /* margin-top: -3rem; */
    padding: 5px;
  }

  .NavLocation {
    display: none;
    /* order: 1;
    flex: 0 0 100%;
    background-color: #df3030; */
  }
  .Logo {
    margin-left: 1.5rem;
  }

  .NavLogo {
    font-size: 1.3rem;
    color: #272424;
    font-weight: 600;
  }
}

@media only screen and (max-width: 615px) {
  .nav {
    margin: 0;
    flex-direction: column;
  }
  .NavLogo {
    align-self: center;
    font-size: 0.1rem;
  }

  .NavItems {
    height: 10vh;
  }
}

/* .navbar,
.NavLocation {
  margin: 0 1.5rem;
} */

.NavItems {
  /* background-color: #df3030; */
  /* width: 5.5rem;
  width: 100%; */
  flex: 1%;
  list-style: none;
  /* background-color: aquamarine; */
  margin-top: -3rem;
  padding: 1rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.NavLogo {
  font-family: "Pacifico", cursive;
  font-size: 1.6rem;
  color: #df3030;
  font-weight: 700;
  /* background-color: #f5c7c7; */
  /* margin-bottom: 2.5rem; */
  /* width: 4.5rem; */
  flex: 0 0 30%;
  /* padding: 3px; */

  /* position: relative; */

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* .Logo { */
/* margin-left: 2.5rem; */
/* position: absolute;
  top: 4rem; */
/* } */

.btn {
  text-transform: uppercase;
  padding: 1rem 1.2rem;
  width: 15rem;
  letter-spacing: 0.2rem;

  /* background: linear-gradient(135deg, transparent 10px, #f5c7c7 0) top left; */
  background-color: chartreuse;

  background-repeat: no-repeat;
  border: 1px solid #fafafb;

  /* margin-top: -10rem; */
  position: relative;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
