.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  margin: 0 1.5rem;
}

.NavItems {
  flex: 1%;
  list-style: none;
  margin-top: -3rem;
  /* padding: 1rem; */

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.NavLogo {
  font-family: "Pacifico", cursive;
  /* font-family: "Courier New", Courier, monospace; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 700;
  flex: 0 0 30%;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

label.logo {
  color: #df3030;
  font-size: 2rem;
  line-height: 6rem;
  padding: 1rem;
}

.Menu {
  padding: 1rem;
  font-size: 2.4rem;
  line-height: 7rem;
  /* background-color: #fafafb; */
  color: black;
  display: none;
}

.btn {
  text-transform: uppercase;
  padding: 1rem 1.2rem;
  width: 15rem;
  letter-spacing: 0.2rem;
  /* background: linear-gradient(135deg, transparent 10px, #f5c7c7 0) top left; */
  background-color: #7fff00;
  background-repeat: no-repeat;
  border: 1px solid #fafafb;
  position: relative;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/*   ///////////////////////////////////////////////////   MEDIA QUERIES         ////////////////////////////////////////////// */

@media only screen and (max-width: 1000px) {
  .nav {
    /* margin: 0 0.5rem; */
    flex-direction: row;
    height: 20vh;
    /* background-color: aqua; */
    margin: 0;
  }

  label.logo {
    line-height: 5rem;
  }

  .NavItems {
    display: flex;

    /* margin-top: 3rem; */
    /* height: 20vh; */
    line-height: 4rem;
    /* padding: 5px; */
  }

  .NavLocation {
    display: none;
  }
  .NavLogo {
    margin: 0 1.5rem;
    font-size: 1.8rem;
    /* background-color: bisque; */
    line-height: 3rem;
    /* color: #272424; */
    font-weight: 600;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    flex-direction: column;
    height: 20vh;
    transition: all 0.9s;
    background-color: #fbffe2;

    /* height: 100vh; */
  }

  .NavLogo {
    margin: 0;
    height: 20vh;
    /* background-color: #7fff00; */
  }
  .NavItems {
    transition: all 0.9s;
    flex-direction: column;
    background-color: #fbffe2;
    /* z-index: 90000; */
    /* height: 100vh; */
    font-size: 1.4rem;
    /* display: none; */
    margin-left: 150%;
    padding: 2rem;
    /* padding: 0; */
  }

  .Menu {
    /* background-color: #df3030; */
    display: block;
  }

  .showMenu {
    /* background-color: #fafafb; */
    margin-left: 0;
  }
}

/*   ///////////////////////////////////////////////////   KEYFRAMES         ////////////////////////////////////////////// */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
