@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.Main {
  max-width: 120rem;
  display: flex;
  color: rgb(49, 49, 22);

  font-family: "Montserrat", sans-serif;
}

.nav {
  color: rgb(48, 18, 18);
  flex: 0 0 18%;

  position: sticky;
  font-size: 1.4rem;
  width: 30%;

  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.nav__items,
.nav__logo,
.nav__location {
  margin: 0 2rem;
}
.nav__items {
  margin-top: -9rem;
}

.nav__logo {
  font-family: "Pacifico", cursive;
  font-size: 1.6rem;

  color: #df3030;

  width: 4.5rem;
  padding: 3px;

  position: relative;
}

.cakery {
  margin-left: 2.5rem;

  position: absolute;
  top: 4rem;
}
.happy {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 1.8;
}
.cafe {
  align-self: center;
}

.nav__items {
  list-style: none;
}

/* .nav__item {
} */

.nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.nav__item--link {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-top: 1rem;
  position: relative;
  /* z-index: 10; */

  /* display: flex; */
  /* align-items: center; */
}

.content {
  /* background-image: url("./img/burger-9.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-color: #d4d48c; */
  flex: 1;
  width: 70%;
  /* background-color: #ff1493; */
  /* height: 130vh; */
  /* border-left: 1px solid brown; */
}

.btn {
  text-transform: uppercase;
  padding: 1rem 1.2rem;
  width: 15rem;
  letter-spacing: 0.2rem;
  /* border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem; */
  /* background-color: red; */
  background: linear-gradient(135deg, transparent 10px, #f5c7c7 0) top left;

  /* background-size: 50% 50%; */
  background-repeat: no-repeat;
  border: 1px solid #fafafb;

  margin-top: -10rem;
  position: relative;

  /* filter: drop-shadow(-4px 0px 0px5#0862a8); */
}
