@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.Main {
  max-height: 100rem;

  display: flex;
  color: rgb(49, 49, 22);

  /* background-color: #df3030; */

  font-family: "Montserrat", sans-serif;
}

.nav {
  /* background-color: cadetblue; */
  /* width: 30%; */
  /* background-color: silver; */
  flex: 0 0 18%;
  height: 100vh;
  position: sticky;
  top: 0;

  /* color: rgb(48, 18, 18);

  position: sticky;
  font-size: 1.4rem;
  width: 30%;

  height: 100vh;
  position: sticky;
  top: 0;
  left: 0; */
}

.content {
  /* background-color: red; */
  /* background-color: black; */
  width: 70%;
  flex: 1%;
}

@media only screen and (max-width: 1000px) {
  .Main {
    flex-direction: column;
  }

  .nav__logo {
    font-size: 1.3rem;
  }

  .content {
    width: 100%;
    /* background-color: aqua; */
  }
}

/* @media only screen and (max-width: 690px) {
 
} */
