.Cakes {
  /* background-color: #f5c7c7; */
  margin-top: 5rem;
}

.Categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -4rem;
  /* margin-right: 2rem; */
}

.Categories a {
  /* text-decoration: none;
  margin-left: 2rem;
  color: inherit;
  background-color: yellow;
  margin-top: 0; */
}

@media only screen and (max-width: 1000px) {
  .Cakes {
    /* background-color: aqua; */
    margin-top: 0rem;
  }
}
