.Slider {
  /* background-color: rgb(168, 168, 161); */
  width: 100%;
  /* height: 120vh; */
}

/* .Images {
  width: 100%;
  height: 40vh;
} */

/* .Slider {
  background-color: rgb(237, 250, 237);
}

.Tag {
  text-align: center;
}

.slick-slide img {
  margin: auto;
  width: 50%;
  height: 50%;
} */
